<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <button id="aa">safd</button>
  <script type="module">
    import page from "//unpkg.com/page/page.mjs";
  
    page('/home', () => { 
      alert('/home')
    });

    window.onload = function () {
      let a = document.getElementById('aa')
      .onclick = function () {
        page('/user/12')
      }
    }
  </script>
  <script>
    let template = `
      <ul>
        <% for(let i=0; i < data.supplies.length; i++) { %>
          <li><%= data.supplies[i] %></li>
        <% } %>
      </ul>
    `;

    function compile (template) {
      const evalExpr = /<%=(.+?)%>/g;
      const expr = /<%([\s\S]+?)%>/g;

      template = 'echo(`' + template + '`);'
      template = template
                  .replace(evalExpr, '`); \n echo($1); \n echo(`')
                  .replace(expr, '`); \n $1 \n echo(`')
      
      let script = `(function parse(data) {
        let output = ''

        function echo (html) {
          output += html
        }

        ${template}

        return output
      })`
      return script
    }

    let parse = eval(compile(template))
    let html = parse({ supplies: [ "broom", "mop", "cleaner" ] })
    console.log(html)

    // const evalExpr = /<%=(.+?)%>/g;
    // const expr = /<%([\s\S]+?)%>/g;

    // template = `echo(\` ${template} \`);`
    // template = template
    //             .replace(evalExpr, '\`); \n echo($1); \n echo(\`')
    //             .replace(expr, '\`); \n $1 \n echo(\`')
    
    // console.log(template)

    // let str = `(function parse(data) {
    // let output = ''

    // function echo (html) {
    //   output += html
    // }
    //   ${template}

    //   return output
    // })`
    // console.log(str)
    // let parse = eval(str)

    // let output = parse({ supplies: [ "broom", "mop", "cleaner" ] })

    // console.log(output)
  </script>
</body>
</html>